img{
	width:100%;
}

#postloader{
	width: 64px;
	height: 64px;
}

.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}

#walltextbox{
	resize:none;
}

#profilepic{
	width: 52px;
	height: 52px;
}

.wallpost
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.wallpost li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.wallpost li.left .wallpost-body
{
    margin-left: 60px;
}

.wallpost li.right .wallpost-body
{
    margin-right: 60px;
}


.wallpost li .wallpost-body p
{
    margin: 0;
    color: #777777;
}