<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<div class="text-center">
				<h2 class="page-header">Set your new password</h2>
				<div ng-show="reset.loading">
					<img id="postloader" src="./img/loader.gif" >	
				</div>
				<div class="row show-hide-message fade-in-out" ng-show="reset.successMsg">
					<div class="alert alert-success" ng-show="reset.successMsg">{{reset.successMsg}}</div>
				</div>

				<div class="row show-hide-message fade-in-out" ng-show="reset.errorMsg">
					<div class="alert alert-danger" ng-show="reset.errorMsg">{{reset.errorMsg}} </div>
				</div>
			</div>
			<!-- Reset form begins -->
			<form name="resetForm" ng-submit="reset.savePass(reset.userData, resetForm.$valid, confirmed);" ng-hide="reset.disabled" class="fade-in-out" novalidate>

				<div ng-class="{'has-success':(resetForm.firstPass.$valid && !resetForm.firstPass.$pristine), 'has-error':(!resetForm.firstPass.$valid && !resetForm.firstPass.$pristine) || (!resetForm.firstPass.$valid && resetForm.$submitted)}">
					<label>Password <span ng-show="!firstPass" class="text-danger">*</span></label>
					<input type="password" name="firstPass" ng-disabled="reset.disabled" class="form-control" placeholder="Password" ng-model="firstPass" required>
					<p class="help-block" ng-show="(!resetForm.firstPass.$pristine && resetForm.firstPass.$error.required) || (resetForm.$submitted && resetForm.firstPass.$error.required)">This field is required</p>
					
				</div>
				<br>
				<div ng-class="{'has-success':confirmed && !resetForm.confirm.$error.required, 'has-error':(!confirmed && !resetForm.confirm.$error.required)||(resetForm.confirm.$error.required && !resetForm.confirm.$pristine)||(resetForm.$submitted && resetForm.confirm.$error.required)}">
					<label>Confirm Password <span ng-show="!confirm" class="text-danger">*</span></label>
					<input type="password" name="confirm" ng-disabled="reset.disabled" class="form-control" placeholder="Password" ng-model="confirm" pass-match="{{[firstPass]}}" ng-change="reset.userData.password=confirm" required>
					<p class="help-block" ng-show="(!resetForm.confirm.$pristine && resetForm.confirm.$error.required) || (resetForm.$submitted && resetForm.confirm.$error.required)">This field is required</p>
					<p class="help-block" ng-show="!confirmed && !resetForm.confirm.$pristine &&resetForm.firstPass.$valid">Passwords don't match</p>
					
				</div>

				<br>

				<div class="text-center">
					<button type="submit" ng-disabled="reset.disabled" class="btn btn-info">Set new Password</button>
				</div>				
				
			</form>
			<!-- Reset form ends -->
		</div>
	</div>
</div>






